section.content
	.content-box
		ul.snipets
			li Peace<br> of mind
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, sapiente.
				span
					a(href="#").more More
						+icon('arrow-more')
			li Free<br> actualy free
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, dignissimos.
				span
					a(href="#").more More
						+icon('arrow-more')
			li Simple<br> payment
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, labore.
				span
					a(href="#").more More
						+icon('arrow-more')
		.portfolio
			.portfolio-left-side
			.portfolio-right-side
				.portfolio-right-side--title Portfolio.
				p We are small, but strong team
				.portfolio-right-side--description
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, quis?Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
					span
						a(href="#").more More
							+icon('arrow-more')
		.our-team
			.our-team-title Our-team
			.our-team-description They are big but still friendly.
			ul.our-team-list
				ul.developer
					li Joey
					li Web developer
					li Coffee lover.Always<br> on bike.IPone fan.
				ul.disigner
					li Matt
					li Web disigner
					li MTB Biker.Photoshop<br> Master.Loving Father.
				ul.copywriter
					li Mike
					li Copywriter
					li Drummer.Soup lover.<br>Beer Drinker.Cyclist.
			span.more1.clearfix
				a(href="#").more More
					+icon('arrow-more')
