section.header
	.header__top
		a(href="#").header__flag--button Freelancer.
		.header__nav--menu
			ul.nav-menu-list
				li
					a(href="#") About
				li
					a(href="#") Work
				li
					a(href="#") Portfolio
				li
					a(href="#") Contact
				li
					a(href="http://www.twitter.com")
						+icon('twitter-red')
				li
					a(href="http://www.facebook.com")
						+icon('facebook-red')
	.top-banner
		.top-banner-title Intelligence<br> is nothing without<br> ambition.
		.top-banner-description We’re small but impressive creative agency.
		a(href="#").top-banner-button Read more