
.content-box
	width 942px
	margin 0 auto
	
ul.snipets
	display flex
	margin-top 86px
	margin-bottom 106px
	
	li
		width 258px
		margin-right 63px
		color titleColor
		text-transform uppercase
		font-family titleFont
		rem(30)
		
	li:last-child
		margin-right 0
		
	& p
		margin-top 25px
		margin-bottom 33px
		color textColor
		text-transform none
		font-family mainFont
		font-size rem(10)
		
.more
	display block
	position relative
	color topIconColor
	text-transform uppercase
	font-family navFont
	font-size rem(16)
	
.portfolio
	display flex
	margin-bottom 105px
	
.portfolio-left-side
	margin-right 87px
	background url('../img/content/macBook.png') 0 0 no-repeat
	size(719px,321px)
	
.portfolio-right-side--title
	margin-bottom 19px
	color titleColor
	text-transform uppercase
	font-family titleFont
	font-size rem(30)
	
.portfolio-right-side--title + p
	margin-bottom 34px
	color darkGrayColor
	font-family mainFont
	font-size rem(18)
	
.portfolio-right-side--description p
	margin-bottom 34px
	color textColor
	font-family mainFont
	font-size rem(14)
	
	& p:last-child
		margin-bottom 49px
		
.more1
	float right
	margin-bottom 62px
	display block
	color topIconColor
	text-transform uppercase
	font-family navFont
	font-size rem(16)

.our-team-title
	margin-bottom 16px
	color titleColor
	text-transform uppercase
	font-family titleFont
	font-size rem(30)
	
.our-team-description
	margin-bottom 34px
	color textColor
	font-family mainFont
	font-size rem(16)
	
ul.our-team-list
	display flex
	justify-content space-between
	margin-bottom 71px
	
	li:first-child
		margin-bottom 13px
		color titleColor
		text-transform uppercase
		font-family titleFont
		font-size rem(20)
		
	li:nth-child(2)
		margin-bottom 18px
		color topIconColor
		font-family mainFont
		font-size rem(14)
		
	li:nth-child(3)
		color #9b9fa9
		font-family mainFont
		font-size rem(14)
		
.developer,
.disigner,
.copywriter
	position relative
	padding-left 140px

	&:before
		content ''
		display block
		position absolute
		top -18px
		left 0
		size(120px)
		border-radius 50%
	
.developer:before
	background url('../img/content/joey-photo.jpg') 0 0 no-repeat

.disigner:before
	background url('../img/content/matt-photo.jpg') 0 0 no-repeat
	
.copywriter:before
	background url('../img/content/mike-photo.jpg') 0 0 no-repeat
	
.icon-arrow-more
	position absolute
	top 1px
	left 55px
	size(14px,11px)
	fill btnColor
	
.clearfix
	clear both
	

