
.footer-content
	width 100%
	max-width 940px
	margin 0 auto
	padding 33px 0 43px 3px
	border-top 1px solid lineColor
	display flex
	justify-content space-between

.footer-content-left
	.icon
		size(18px)
		fill bottomIconColor
		margin-right 23px
		
.footer-content-right>p
	color footerColor
	font-family mainFont
	font-size rem(12)