section.header
	background red url('../img/content/bg-top.jpg') 0 0 no-repeat
	background-size cover
	height 1056px
	
.header__top
	width 100%
	max-width 942px
	margin 0 auto
	display flex
	justify-content space-between
	align-items center

.header__flag--button
	width 140px
	padding 43px 14px 15px
	background-color btnColor
	color #fff
	border-radius 0 0 8px 8px
	text-align center
	font-family flagFont
	font-size rem(16)
	
.header__nav--menu
	width 100%
	max-width 454px
	text-transform uppercase
	font-family navFont
	font-size rem(14)

ul.nav-menu-list
	display flex
	justify-content space-between
	
ul.nav-menu-list li:nth-child(5)
	margin-right -24px

.icon-twitter-red
	size(18px,16px)
	fill topIconColor
	
.icon-facebook-red
	size(13px,19px)
	fill topIconColor
	
.top-banner
	position absolute
	top 381px
	left 220px

.top-banner-title
	width 508px
	margin-bottom 28px
	text-transform uppercase
	font-family titleFont
	font-size rem(45)
	
.top-banner-description
	margin-bottom 46px
	font-size rem(20)
	
.top-banner-button
	display inline-block
	padding 26px 42px 25px 42px
	border-radius 10px
	background-color btnColor
	color #fff
	text-transform uppercase
	font-family battonFont
	font-size 14px