// ЦВЕТА

btnColor = #db5c64
topIconColor = #db5c65
bottomIconColor = #babfc4
titleColor = #4a5164
textColor = #9b9fa9
darkGrayColor = #3c4b5a
lineColor = #e6e9ec
bottomIconColor = #babfc4
footerColor = #b9bfc4

// РАЗМЕРЫ


// ШРИФТЫ

mainFont = "OpenSans-Regular"
flagFont = "Domine-Bold"
navFont = "Montserrat-Regular"
titleFont = "Montserrat-Bold"
battonFont = "OpenSans-Bold"